{% extends "layout.twig" %}

{% block content %}

<article class="article article_{{post.post_type}}" id="article_{{post.ID}}">

	<h1 class="article_h1">
		{{ post.title }}
		{% if post.edit_link %}<a href="{{ post.edit_link | raw }}">Edit</a>{% endif %}
	</h1>
	<div class="article_body page_ckeditor_data">
		{{ post.content | raw }}
	</div>
	<div class="article_post_date">
		Дата публикации: {{ post.date }}
	</div>

</article>

{% endblock %}