{% set post_link = get_permalink(post.ID) %}
<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% set thumbnail = get_the_post_thumbnail_url(post) %}
	{% if thumbnail %}
		<div class='tease__image'>
			<img src="{{ thumbnail }}" />
		</div>
	{% endif %}
	
	<div class='tease__date'>
		{{ site.wp_post_date(post.post_date, 'Y-m-d') }}
	</div>
	<h2 class="tease__title">
		<a class="nolink" href="{{ post_link }}">{{ post.post_title }}</a>
	</h2>
	<div class='tease__read_more'>
		<a class="nolink" href="{{ post_link }}">{{ __('Читать далее', 'template') }}</a>
	</div>
</article>